<% provide(:title, ' | About') %>

<h1 class="heading">About Me</h1>

<h4 class="heading about-description">Hi, my name's Alex Ho. I'm currently attending my third year at <%= link_to "Drexel University", 'https://www.drexel.edu/' %> and working toward a B.S. in Computer Science. I love that I am able to give life to ideas in the digital space. It's really rewarding to develop tools and solutions that will benefit people's lives. If you or your organization is looking for someone like me, feel free to contact me using the links below.</h4>

<h2 class="heading">My Social Media</h2>

<div class="showcase">
    <div class="showcase-inline">
        <a href="https://www.linkedin.com/in/alex-h-52923113a/">
            <%= image_tag 'logos/LinkedIn-Blue-96@2x.png', alt: 'LinkedIn Logo', class:'social-media-logo' %>
        </a>
    </div>
    <div class="showcase-inline">
        <a href="https://github.com/Theguyat2012">
            <%= image_tag 'logos/GitHub_Logo.png', alt: 'GitHub Logo', class:'social-media-logo' %>
        </a>
    </div>
</div>
