<% provide(:title, ' | Employment') %>

<h1 class="heading">Employment</h1>

<div class="showcase">
    <div class="whyfit">
        <div class="caption" style="text-align: center;">
            <h5>
                <b>Whyfit:</b> A Philadelphian startup offering unique health and wellness solutions for businesses and their employees.
            </h5>
        </div>
    </div>
    <div class="logo" style="display: inline; vertical-align: top;">
        <a href="https://www.why.fit/" target="_blank">
            <img src="https://www.employeesolutionsgroup.com/uploads/1/2/0/8/120806195/whyfit-logo-drak-grey-large.png" alt="whyfit-logo" style="height: 35%; width: 35%; padding: 5px; border: 1px solid orange;" />
        </a>
    </div>
    <div class="description" style="display: inline-block; text-align: left; vertical-align: bottom;">
        <h5>
            Role <b>:</b> Fullstack Developer (Mar 29 - Sep 17 2021)
        </h5>
        <h5>
            Languages <b>:</b> Ruby, HTML, CSS, Javascript
        </h5>
        <h5>
            Tools <b>:</b> Ruby on Rails, AWS, Slack API, Microsoft Graph API, Azure
        </h5>
        <h5>
            Duty <b>:</b> Design relational databases, Integrate APIs, Develop management tools, Diagnose and troubleshoot bugs
        </h5>
    </div>
</div>
