<h1 class="heading">Welcome</h1>

<h2 class="heading">I'm Alex, welcome to my website. Make yourself at home.</h2>

<h3 class="heading">So, what brings you here today?</h3> <br />

<div class="showcase">
    <div class="showcase-block">
        <%= link_to "Contact Me", about_path, class: "home-link" %>
    </div>
    <div class="showcase-block">
        <%= link_to "Gaming", projects_path, class: "home-link" %>
    </div>
</div>
