<h1 class="heading">Welcome</h1>

<h3 class="heading">What brings you here today?</h3> <br />
<div class="showcase">
    <div class="showcase-block">
        <%= link_to "Contact Me", about_path, class: "home-link" %>
    </div>
    <div class="showcase-block">
        <%= link_to "Gaming", projects_path, class: "home-link" %>
    </div>
</div>
