<% provide(:title, ' | Projects') %>

<h1 class="heading">Projects<h1>

<div class="showcase">
    <div class="very-berry">
        <iframe src="https://i.simmer.io/@Xx_Bubbles_xX/very-berry" style="width:800px;height:500px"></iframe>
        <div class="very-berry-description">
            <h5>
                A group project that I led to design for my computing and informatics class. (2020)
            </h5>
        </div>
    </div>
</div>
