<% provide(:title, ' | Projects') %>

<h1 class="heading">Projects</h1>

<div class="showcase">
    <div class="projects-item">
        <div class="projects-caption">
            <h5>
                <b>Very Berry</b>
            </h5>
        </div>
        <div class="projects-project">
            <iframe src="https://i.simmer.io/@Xx_Bubbles_xX/very-berry" id="very-berry-project"></iframe>
        </div>
        <div class="projects-brief">
            <h6>
                Led a team of 4 to develop a retro game for my computing and informatics class. (2020)
            </h6>
        </div>
        <div class="showcase-description">
            <h5>
                Role : Project Owner
            </h5>
            <h5>
                Language : C#
            </h5>
            <h5>
                Tools : Unity3D, Visual Studio Code
            </h5>
            <h5>
                Duty : Design core components of the game, supervise development, guide team members
            </h5>
        </div>
    </div>
</div>
